.form-field {
  display: block;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
}

.comments {
  margin-bottom: 10px;
}

.recommend {
  margin-bottom: 10px;
}
